/* MODIFICHE PREDEFINITE */

/* /MODIFICHE PREDEFINITE */

/* DISPOSIZIONE IMMAGINI */
body {
    /* primo testo disponibile nell'elenco */
    font-family: "Roboto Slab";
    background: #0d0d0d;
    color: white;
}
a:link {color:#ff0000}
a:visited {color:#9d0c0c}


h1 {
    margin-left: 10%;
    font-size: 38px;
    font-family: "Roboto Slab";
    color: rgb(255, 0, 0);
}
#multiscroll{
    margin-top: 30em;
}

[class*="ms-left"] {
    /*border: 4px solid #ff0000;*/
}

[class*="ms-right"] {
    /*border: 4px solid #00ff00;*/
}

[class*="ms-section"] {
    width: 100px;
    /*border: 4px solid #0000ff;*/
}
/* /DISPOSIZIONE IMMAGINI */