body{
    background-color: #0d0d0d;
    color: white;
}
a:link {color:#ff0000}
a:visited {color:#8d0000}

.flex {max-width: 80%}

#mobileonly {
    display: none;
}

@media (max-width: 768px) {
    /*Mobile*/
    #bigscreen {
        display: none;
    }
    #mobileonly {
        display: unset;
    }
    
}